@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    Mixing default Razor MVC WebApp with Blazor
</div>

<h2>Counter</h2>
<component type="typeof(Counter)" param-InitialValue="0" render-mode="ServerPrerendered" />

<h2>Form</h2>
<component type="typeof(Form)" param-MyForm="Model.MyForm" render-mode="ServerPrerendered" />